<section id="<%- ngxModel.id %>" class="<%- ngxModel.class %>">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2><%- ngxModel.title %></h2>
				<hr class="star-<%- ngxModel.class %>">
			</div>
		</div>
		<ngx-include x-template="<%= ngxModel.template %>" x-provide="<% if (ngxModel.model) { %><%- ngxModel.model %><% } else { %><%- _.ngx.assign(ngxModel) %><% }%>" x-type="<% if (ngxModel.model) { %>remote<% } else { %>local<% }%>" x-tplready="<%- ngxModel.id %>"></ngx-include>
	</div>
</section>